<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>birthday wish</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/wish.css'%}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body>


</nav>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="content">
            <h1 id='c1'>Birthday boy<br> "kaju badam"  </h1>
            <h2 id='c2'>Wishing you a day filled with happiness and a year filled with joy. Happy birthday!&#127873; Sending you smiles for every moment of your special day…! &#127851;  &#127874; Hope your special day brings you all that your heart desires!  &#128150;</h2>
			<br>
			<h2 id='c2'>Hope our friendship continues to grow day by day no matter what happens..!
			Have a fabulous birthday!&#129309;
			</h2>





          </div>

        </div>

      </div>

    </div>

    
  </body>
</html>
